<%-include('partials/header')%>
<main class="form-signin w-100 m-auto">
    <img style="position: absolute; left: 48%; bottom: 75%; " class="mb-4 logo" src="/images/app_logo-removebg-preview.png" alt="" width="90" height="70">
    <h1 class="h3 mb-3 fw-normal logo text-align"><%= title %></h1>
    <hr>
    <form method="post" action="/register">
    <div class="form-floating">
      <input type="email" class="form-control" placeholder="name@example.com" name="email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>
    <div>
    <button style="border-radius: 40px;" class="btn-2 btn-primary w-100 py-2" type="submit">Register</button>
    </div></form>
    <hr>
    <p style="position: absolute;vertical-align: bottom; bottom: 0%;" class="mt-5 mb-3 text-body-secondary">© 2017-2024</p>

</main>
  <link href="css/sign-in.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <%-include('partials/footer')%>